<chat></chat>

<div class="home">
    <h1 class="title">Selecciona un perfil</h1>

    <div class="profiles">
        <div ng-click="open(1)" class="avatar is-pointer"><img src="img/avatar1.png"></div>  
        <div ng-click="open(2)" class="avatar is-pointer"><img src="img/avatar2.png"></div>  
        <div ng-click="open(3)" class="avatar is-pointer"><img src="img/avatar3.png"></div> 
        <div ng-click="open(4)" class="avatar is-pointer"><img src="img/avatar4.png"></div> 
    </div> 
</div>
